<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.pro.mapper.DclientMapper">
  <resultMap id="BaseResultMap" type="com.gx.pro.entity.Dclient">
    <id column="username" jdbcType="VARCHAR" property="username" />
    <result column="cliname" jdbcType="VARCHAR" property="cliname" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="taxid" jdbcType="VARCHAR" property="taxid" />
    <result column="funds" jdbcType="VARCHAR" property="funds" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    username, cliname, contact, phone, address, taxid, funds, pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dclient
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dclient
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gx.pro.entity.Dclient">
    insert into dclient (username, cliname, contact, 
      phone, address, taxid, 
      funds, pic)
    values (#{username,jdbcType=VARCHAR}, #{cliname,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{taxid,jdbcType=VARCHAR}, 
      #{funds,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gx.pro.entity.Dclient">
    insert into dclient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="cliname != null">
        cliname,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="taxid != null">
        taxid,
      </if>
      <if test="funds != null">
        funds,
      </if>
      <if test="pic != null">
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cliname != null">
        #{cliname,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="taxid != null">
        #{taxid,jdbcType=VARCHAR},
      </if>
      <if test="funds != null">
        #{funds,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gx.pro.entity.Dclient">
    update dclient
    <set>
      <if test="cliname != null">
        cliname = #{cliname,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="taxid != null">
        taxid = #{taxid,jdbcType=VARCHAR},
      </if>
      <if test="funds != null">
        funds = #{funds,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gx.pro.entity.Dclient">
    update dclient
    set cliname = #{cliname,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      taxid = #{taxid,jdbcType=VARCHAR},
      funds = #{funds,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>